html {
    font-size: 10px;
    font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue';
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    line-height: 2;
    font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue';
    color: map-get($colors, textPrimary);    
  }
  
  a {
    text-decoration: none;
    &:visited {
      color: lighten(map-get($colors, primary), 50%);
    }
  }
  
  button {
    font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue';
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: bold;
    word-break: normal;
  }
  
  h1 {
    font-size: 3.5rem;
    line-height: 3.6rem;
    letter-spacing: 0.05rem;
  }
  
  h2 {
    font-size: 2.4rem;
    line-height: 2.3rem;
    letter-spacing: 0.03rem;
  }
  
  h3 {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 0.03rem;
    font-style: italic;
  }
  
  h4 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 0.025rem;
    font-style: italic;
  }

  p {
    font-size: 2rem;
    line-height: 2.7rem;
    letter-spacing: 0.015rem;
  }