$fonts: (
  primary: "Myriad",
  secondary: "Lucida Grande",
  ternary: "Helvetica Neue"
);

$colors: (
  primary: #8e8e93,
  secondary: #636366,
  wht: #ffffff,
  blk: #222222,
  test: #6367cc
);

$box-shadows: (
  boxShadowBase: (0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04)),
  boxShadowDark: (0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12)),
  boxShadowLight: 0 2px 12px 0 rgba(0, 0, 0, 0.1),
);

$breakpoints: (
  xs: 414px,
  sm: 768px,
  md: 1055px,
  lg: 1200px,
  xl: 1920px,
);

$transitions: (
  all: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
  fade: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1),
  fadeLinear: opacity 200ms linear,
  mdFade: (transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1)),
  borderBase: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
  strokeBase: stroke 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
  colorBase: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
  backgroundColorBase: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
);